body {
    margin-top: 56px;
    background-image: url(cream_dust.png);
}

/* Use to see grids more easily. Comb through and remove when formatting complete*/
.tempborder {
    border: 2px solid black;
}

.navbar .navbar-collapse {
    text-align: center;
    float: none;
    justify-content: space-around;
}

.bg-teal {
    background-color: #D6F0FA;
}

.logo {
    font-size: 30px;
    line-height: 1em;
}

.round {
    border-radius: 50%;
}