body {
    margin-top: 86px;
    background-image: url(cream_dust.png);
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.navbar .navbar-collapse {
    text-align: center;
    float: none;
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 4rem;
    padding-left: 4rem;
}

.main-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.spacer {
    max-width: 100px;
    height: 2px;
    margin: 8px auto;
    background-color: #FFA23C;
    border-radius: 70%;
}

.targeting {
    visibility: hidden;
}

.bg-teal {
    background-color: #19BFFF;
}

.logo {
    font-size: 30px;
    line-height: 1em;
    font-weight: 700 bold;
    font-family: 'Josefin Sans', sans-serif;
}

.round {
    border-radius: 50%;
}

.row-pad {
    padding: 1rem;
}

.col-pad {
    padding: 0.5rem;
}

.carousel-center {
    font-size: 1.5em;
    bottom: 30%;
    text-shadow: 0.5px 0.5px #000;
}

.card-img-overlay {
    top: 40%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.img-fade {
    opacity: 0.7;
}   

.block-anchor {
    display: block;
    overflow: hidden;
}

.container-opacity :hover {
    opacity: 1;
}   .container-opacity :focus {
        opacity: 1;
    }

.stroke-highlight {
    color: #FFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a.alt-highlight {
    text-decoration: none;
} a.alt-highlight:hover {
    text-decoration: none;
}

.alt-highlight {
    color: #19BFFF;
    letter-spacing: 1.5px;
    transition: all 0.2s ease-in-out;
} .alt-highlight:hover {
    transform: scale(1.1);
    color: #FFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Footer specific styles */

.foot-text {
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: #ffddfd;
}

/* Contact page and form and input styles */

.btn-orange {
    background-color: #FFA23C;
    color: #000;
    border-color: #FFA23C;
}

.btn-teal {
    background-color: #19BFFF;
    color: #000;
    border-color: #19BFFF;
}  .btn-teal:hover {
        color: #fff;
    }

.social {
    font-size: 4em;
    color: #19BFFF;
    line-height: 0.25rem;
    margin-top: 0px;
}

.link-social-text {
    color: #19BFFF;
}

.link-social {
    text-decoration: none;
}   .link-social :hover {
    text-decoration: none;
    color: #FFA23C;
    }

/* Skills section  */

.skills {
    font-size: 8em;
    color: #19BFFF;
    line-height: 0.25rem;
    margin-top: 0px;
    position: relative;
}

/* Skill icon on hover */
.skills span{
    position: relative;
  }
  .skills:hover span{
    display: none;
  }
  .skills:hover:after{
    font-size: 0.2em;
  }

  .skill-content {
    font-size: 0.1em;
    line-height: 2rem;
    padding-right: 10px;
    width: 100%;
    height: 100%;
	overflow: hidden;
	position: absolute;
	cursor: default;
    transition: all 0s linear;
    opacity: 0;
  } .skill-content:hover {
    transform: scale(1);
	opacity: 1;
  }

  .skill-content ul {
      padding-inline-start: 10px;
  }

  .skill-content li {
      list-style: none;
  }
  

.link-skills-text {
    color: #19BFFF;
}

.link-skills {
    text-decoration: none;
    cursor: default;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}   .link-skills :hover {
    text-decoration: none;
    /* color: #FFA23C; */
    opacity: 0;
    }

/* Font Styles */

.headFontFred {
    font-family: 'Fredoka One', cursive;
}